body {
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
    margin: 1.5em;
}

h1 {
    display: flex;
    justify-content: center;
}

p {
    display: flex;
    justify-content: center;
}

#main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

#form-container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

#participant-form {
    gap: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

button {
    border-radius: 5px;
    border-color: rgb(55, 129, 226);
    height: 30px;
    transition: 150ms ease-in-out;
}

button:hover {
    background-color: rgb(55, 129, 226);;
    color: white;
    border: 0;
}