body {
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
    margin: 1.5em;
}

#head-text {
    display: flex;
    justify-content: flex-start;
}

#chat-notepad-container {
    width: 100%;
    display: flex;
}

#chat-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid black;
    width: 60%;
    min-height: 20vh;
    max-height: 70vh;
    box-sizing: border-box;
    overflow-y: auto;
}

#messages {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0.5em;
    word-wrap: break-word;
    white-space: normal;
    font-size: 15px;
}

@media (max-width: 768px) {
    #chat-container {
        min-height: 30vh;
    }
}

#editor-container {
    width: 40%;
    padding-left: 10px;
    max-height: 70vh;
}

#editor {
    border: 1px solid black;
    font-size: 16px;
}

#user-input-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 1em;
    gap: 20px;
}

@media(max-width: 768px) {
    #user-input-container {
        flex-direction: column;
    }
}

#user-input {
    padding-left: 1em;
    font-size: 15px;
    border: none;
    width: 100%;
}

#send-btn {
    width: 65px;
    height: 40px;
    color: white;
    background-color: rgb(55, 129, 226);
    border: none;
    padding: 0.5em;
    box-sizing: border-box;
}

#search-box {
    border: 1px solid black;
    display: flex;
    width: 50%;
}

#send-btn:hover {
    background-color: rgb(157, 192, 238);
}

#download-btn {
    width: 90px;
    height: 40px;
    color: white;
    background-color: rgb(135, 16, 226);
    border: none;
    padding: 0.5em;
    box-sizing: border-box;
}

#download-btn:hover {
    background-color: rgb(179, 113, 213);
}

.response {
    background-color: rgb(166, 182, 135);
    padding: 8px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

.response:hover {
    background-color: rgb(199, 226, 146);
}

.message {
    padding: 8px;
    border-radius: 5px;
    margin: 5px;
}

.message:hover {
    background-color: rgb(166, 182, 235);
}
